{% import '../macros/render.twig' as render %}
<!DOCTYPE html>
<html>
  <head>
    {{ render.partial('head') }}
    {{ render.partial('stylesheets') }}
    {% block stylesheets %}{% endblock %}
  </head>
  <body>
    {{ render.partial('header') }}

    {% block content %}{% endblock %}

    {{ render.partial('footer') }}
    {{ render.partial('scripts') }}
    {% block scripts %}{% endblock %}
  </body>
</html>
