{% set ns = 'modal' %}

{% if id is not defined %}
  <div class="error-noid">
    A <strong>unique ID property</strong> must be defined for this component.<br>
    namespace: <i>{{ns}}</i><br>
  </div>
{% endif %}

<div id="{{ id }}" class="{{ns}}" data-options="{{ options|json_encode|escape }}">
  <div class="{{ns}}__box">
    <h2 class="{{ns}}__title">{{ title }}</h2>
  </div>
  <div class="{{ns}}__overlay"></div>
</div>
