{# ------------------------------------
 # Component: Modal
 # ------------------------------------ #}
{% import '../../templates/macros/component-utils.twig' as utils %}

{# Namespace #}
{% set ns = 'modal' %}

{{ utils.checkForId(ns, id) }}

{# Markup #}
<div id="{{ id }}" class="{{ns}}{{ utils.gatherCssClasses(ns, modifier, additionalClasses) }}" data-options="{{ options|json_encode|escape }}">
  <div class="{{ns}}__box">
    {% if title is defined %}
      <h2 class="{{ns}}__title">{{ title }}</h2>
    {% endif %}

    {% if content is defined %}
      <div class="{{ns}}__content">{{ content }}</div>
    {% endif %}
  </div> {# __box #}
  <div class="{{ns}}__overlay"></div>
</div> {# .modal #}
