{% set ns = 'sg-card' %}

{% if id is not defined %}
  <div class="error-noid">
    A <strong>unique ID property</strong> must be defined for this component.<br>
    namespace: <i>{{ns}}</i><br>
  </div>
{% endif %}

<div id="{{ id }}" class="{{ns}}">

  {% if title is defined %}
    <header class="{{ns}}__header">
      <a href="#headings" class="{{ns}}__anchor">#</a>
      <h3>{{ title }}</h3>
    </header>
  {% endif %}

  {% if markup is defined %}
    <div class="{{ns}}__preview">
      {{ markup }}
    </div>

    <div class="{{ns}}__code-preview">
      <div class="{{ns}}__toggle-code {{ns}}__toggle-code--show">Show Code</div>
      <div class="{{ns}}__toggle-code {{ns}}__toggle-code--hide">Hide Code</div>
      <div class="{{ns}}__code-wrap">
        <button class="{{ns}}__btn-copy-code btn-copy" data-clipboard-text="{{ markup }}">Copy</button>
        <pre class="sg-code">
          <code class="language-markup">{{ markup|e }}</code>
        </pre>
      </div> {# __code-wrap #}
    </div> {# __code #}
  {% endif %}
</div> {# .sg-card #}
