{% set ns = 'sg-card' %}

{% if id is not defined %}
  <div class="error-noid">
    A <strong>unique ID property</strong> must be defined for this component.<br>
    namespace: <i>{{ns}}</i><br>
  </div>
{% endif %}

<div id="{{ id }}" class="{{ns}}">

  {% if title is defined %}
    <header class="sg-card__header">
      <a href="#headings" class="sg-card__anchor">#</a>
      <h3>{{ title }}</h3>
    </header>
  {% endif %}

  {% if markup is defined %}
    <div class="sg-card__preview">
      {{ markup }}
    </div>

    <div class="sg-card__code">
      <div class="sg-card__toggle-code sg-card__toggle-code--show">Show Code</div>
      <div class="sg-card__toggle-code sg-card__toggle-code--hide">Hide Code</div>
      <pre class="sg-code">
        <code class="language-markup">{{ markup|e }}</code>
      </pre>
    </div> {# __code #}
  {% endif %}
</div> {# .sg-card #}
